<img src="placeholder.jpg" class="image-banner" alt="">
<div class="container">
  <h1>Clientes</h1>

  <div class="actions-bar">
    <div class="left-actions search-group">
      <button class="btn" (click)="newClient()">Nuevo</button>

      <select [(ngModel)]="docTypeFilter" (change)="findClients()" class="search-select">
        <option value="">Todos</option>
        <option value="DNI">DNI</option>
        <option value="CI">CI</option>
        <option value="LE">LE</option>
        <option value="LC">LC</option>
      </select>

      <input type="text" [(ngModel)]="dniFilter" (input)="findClients()" placeholder="Buscar por nro. de doc." class="search-input" />
    </div>

    <div class="right-actions">
      <button class="exit" routerLink="/manage">Volver</button>
    </div>
  </div>


  <app-clients-table [clients]="clients" (edit)="editClient($event)" (stateChangeRequest)="confirmStateChange($event)">
  </app-clients-table>

  <p-dialog [(visible)]="showDialog" [modal]="true" [header]="dialogTitle" closeOnEscape="false" draggable="false"
    resizable="false" [style]="{width: '25%'}" (onHide)="onDialogHide()">
  
    <app-clients-dialog *ngIf="renderDialogContent" [data]="selected" [editMode]="editMode" (save)="onSave($event)" (cancel)="onCancel()">
    </app-clients-dialog>
  
  </p-dialog>

  <p-confirmDialog></p-confirmDialog>