.btn-small {
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  margin: 0 0.25rem 0 0;
}

.installments {
  padding: 0.2rem 0.5rem;
  margin: 2px;
  margin-right: 0.5rem;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 600;

  background-color: #ebebeb;
  color: #494949;
}

.installment-row {
  display: flex;
  align-items: center;
  justify-content: center;
}