<img src="placeholder.jpg" class="image-banner" alt="">
<div class="container">
  <h1>Egresos</h1>

  <div class="actions-bar">
    <div class="left-actions search-group">
      <button class="btn" [disabled]="!cashRegisterOpen" (click)="newWithdrawal()">Nuevo</button>
    </div>

    <div class="right-actions">
      <button class="exit" routerLink="/cashflow-management">Volver</button>
    </div>
  </div>

  <div *ngIf="!cashRegisterOpen" class="error-message">
    Abra la caja para registrar egresos
  </div>


  <app-withdrawals-table [withdrawals]="withdrawals" (cancelRequest)="confirmCancel($event)">
  </app-withdrawals-table>

  <p-dialog [(visible)]="showDialog" [modal]="true" [header]="dialogTitle" closeOnEscape="false" draggable="false"
    resizable="false" [style]="{width: '25%'}">

    <app-withdrawals-dialog [data]="selectedWithdrawal" (save)="onSave($event)" (cancel)="onCancel()"></app-withdrawals-dialog>

  </p-dialog>

  <p-confirmDialog></p-confirmDialog>