<img src="placeholder.jpg" class="image-banner" alt="">
<div class="container">
  <h1>Veterinarios</h1>
  
  <div class="actions-bar">
    <div class="left-actions">
      <button class="btn" (click)="newVeterinary()">Nuevo</button>
    </div>

    <div class="right-actions">
      <button class="exit" routerLink="/manage">Volver</button>
    </div>
  </div>


  <app-vets-table [vets]="vets" (stateChangeRequest)="confirmStateChange($event)" (editRequest)="editVeterinary($event)">
  </app-vets-table>

  <p-confirmDialog></p-confirmDialog>

  <p-dialog  [(visible)]="showDialog" [modal]="true" [header]="dialogTitle" closeOnEscape="false" draggable="false" resizable="false" [style]="{width: '25%'}">
  
    <app-vets-dialog [data]="selectedVeterinary" (save)="onSave($event)" (cancel)="onCancel()">
    </app-vets-dialog>
  
  </p-dialog>