<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Precio Actual</th>
      <th>Lotes</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let supplyType of supplyTypes">
      <td>{{ supplyType.id }}</td>
      <td>{{ supplyType.description }}</td>
      <td>
        <a class="link" (click)="goToPrices(supplyType.id!)">{{supplyType.currentPrice | currency }}</a>
      </td>
      <td>
        <a class="link" (click)="goToLots(supplyType.id!)">{{supplyType.lotsCount}}</a>
      </td>

      <td class="actions">
        <button class="btn btn-small edit" (click)="onEdit(supplyType)">Editar</button>
      </td>

    </tr>
  </tbody>
</table>