<img src="placeholder.jpg" class="image-banner" alt="">
<div class="container">

  <div class="content">
    <h1>Home</h1>

    <div *ngIf="!cashRegisterOpen" class="error-message">
      Abra la caja para registrar atenciones
    </div>

    <div class="button-group">
      <button class="btn" routerLink="/new-visit" [disabled]="!cashRegisterOpen">Nueva Atención</button>
      <button class="btn" routerLink="/manage">Gestión</button>
      <button class="btn" routerLink="/cashflow-management">Manejo de Caja</button>
      <button class="btn" routerLink="/installments">Pago de Cuotas</button>
      <button class="btn" (click)="openTokenDialog()">Reportes</button>
      <button class="exit" (click)="logout()">Salir</button>
    </div>

  </div>
</div>

<p-dialog header="Ingrese el token de acceso" [(visible)]="tokenDialogVisible" [modal]="true" [closable]="false"
  [dismissableMask]="false">

  <div class="p-fluid">
    <div class="field">
      <input pInputText type="password" [(ngModel)]="tokenInput" placeholder="Token" (keyup.enter)="validateToken()"/>
    </div>
  </div>

  <div *ngIf="tokenError" class="error-message">
    Token inválido
  </div>

  <ng-template pTemplate="footer">
    <button pButton label="Cancelar" class="cancel" (click)="closeTokenDialog()"></button>
    <button pButton label="Ingresar" class="btn" autofocus (click)="validateToken()"></button>
  </ng-template>

</p-dialog>